<div class= 'container'>
  <form action="/shoe_stores" method="post">
    <div class="form-group">
      <label>Add a Shoe Store:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nordstom"><br>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
