<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
          <h2><%= "#{@shoe_store.name}" %></h2>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row row-centered" style="margin-top:20px">
    <div class="col-lg-2 col-centered" style="background: #D3D3D3;">
      <h3>Inventory</h3>
      <ul id="padding">
        <%# @recipe.instructions.each do |instruction| %>
          <li>
            <%#= instruction.step %>
            <%#= instruction.task %>
          </li>
        <%# end %>
      </ul>
    </div>
  </div>
</div>
