<div class= 'container'>
  <form action="/shoe_brands" method="post">
    <div class="form-group">
      <label>Add a Shoe Brand:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nike"><br>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
