<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Shoe brands</th>
      </tr>
    </thead>
    <tbody>
      <% @shoes.each do |shoe|%>
        <tr>
          <td><%= shoe.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
